<div class="view" id="hero">
	<div class="row">
		<div class="col-xs-9 col-sm-6 col-md-6 col-lg-6 col-xs-offset-3 col-sm-offset-6 col-md-offset-6 col-lg-offset-6" id="hero-banner">
			<h1 class="text-center">Hello World!</h1>
			<hr>
			<h3 class="text-center">Software Developer &middot; Web Developer &middot; Dreamer</h2>
		</div>
	</div>
	<span class="glyphicon glyphicon-chevron-down" aria-hidden="true" style="color:white"></span>
</div>

<div class="view">
	hello World
</div>
