// Place all the styles related to the Main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html 
 {
 height: 100%;
 margin-bottom: 1px;
 overflow-y: scroll;
 overflow-x: hidden;
 }

/*  HEADER  */

.navbar-toggle {
  border:none;
}

.nav-btn {
  border: none;
  background-color: transparent;
  margin-top: 10px;
  text-align: center;
}

/*  BODY  */

body {
  width:100%;
  margin-right: -10px;
  font-family: 'Open Sans', sans-serif;
  color: white;
}

.bigger {
  font-size: 190%;
}

.heading {
  font-family: 'Oswald', sans-serif;
  font-size: 4em;
  font-weight: 400;
  color: white;
  text-shadow: 5px 4px  #4b6677;
}

.view {
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

#hero-banner {
  position: absolute;
  top: 18%;
}

.scroll-button {
  position: absolute;
  bottom: 0;
  left:45%;
  font-size: 2.5em;
}

/* default screen, non-retina */
#hero {
  background-image: image-url('BG1-xs.jpg');
  //margin-top:-72px;
}

/* default screem, Retina */
@media
    only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min--moz-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 2/1),
    only screen and (min-device-pixel-ratio: 2),
    only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx) {
      #hero {
        background-image: image-url('BG1-xs@2x.jpg');
        //margin-top:-72px;
      }
}


/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min) { 
  #hero {
    background-image: image-url("BG1-sm.jpg");
    //margin-top:-72px;
  }
}
/* Small devices (tablets, 768px and up) RETINA display */
@media 
    only screen and (min-width: $screen-sm-min) and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min-width: $screen-sm-min) and (min--moz-device-pixel-ratio: 2),
    only screen and (min-width: $screen-sm-min) and (-o-min-device-pixel-ratio: 2/1),
    only screen and (min-width: $screen-sm-min) and (min-device-pixel-ratio: 2),
    only screen and (min-width: $screen-sm-min) and (min-resolution: 192dpi),
    only screen and (min-width: $screen-sm-min) and (min-resolution: 2dppx) { 
      #hero {
        background-image: image-url("BG1-sm@2x.jpg");
        //margin-top:-72px;
      }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min) { 
  #hero {
    background-image: image-url("BG1-md.jpg");
    //margin-top:-72px;
  }
}
/* Medium devices (desktops, 992px and up) RETINA display */
@media 
  only screen and (min-width: $screen-md-min) and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min-width: $screen-md-min) and (min--moz-device-pixel-ratio: 2),
  only screen and (min-width: $screen-md-min) and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-width: $screen-md-min) and (min-device-pixel-ratio: 2),
  only screen and (min-width: $screen-md-min) and (min-resolution: 192dpi),
  only screen and (min-width: $screen-md-min) and (min-resolution: 2dppx) { 
    #hero {
      background-image: image-url("BG1-md@2x.jpg");
      //margin-top:-72px;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min) { 
  #hero {
    background-image: image-url("BG1-lg.jpg");
    //margin-top:-72px;
  }
}
/* Large devices (large desktops, 1200px and up) RETINA display */
@media 
  only screen and (min-width: $screen-lg-min) and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min-width: $screen-lg-min) and (min--moz-device-pixel-ratio: 2),
  only screen and (min-width: $screen-lg-min) and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-width: $screen-lg-min) and (min-device-pixel-ratio: 2),
  only screen and (min-width: $screen-lg-min) and (min-resolution: 192dpi),
  only screen and (min-width: $screen-lg-min) and (min-resolution: 2dppx) { 
    #hero {
      background-image: image-url("BG1-lg@2x.jpg");
      //margin-top:-72px;
    }
}