// Place all the styles related to the Main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*  HEADER  */
header {
  top:1.5em;
}

/*  BODY  */
.view {
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

/* default screen, non-retina */
#hero {
  background-image: url('BG1-xs.jpg');
  margin-top:-72px;
}

/* default screem, Retina */
@media
    only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min--moz-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 2/1),
    only screen and (min-device-pixel-ratio: 2),
    only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx) {
      #hero {
        background-image: url('BG1-xs@2x.jpg');
        margin-top:-72px;
      }
}


/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min) { 
  #hero {
    background-image: url("BG1-sm.jpg");
    margin-top:-72px;
  }
}
/* Small devices (tablets, 768px and up) RETINA display */
@media 
    only screen and (min-width: $screen-sm-min) and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min-width: $screen-sm-min) and (min--moz-device-pixel-ratio: 2),
    only screen and (min-width: $screen-sm-min) and (-o-min-device-pixel-ratio: 2/1),
    only screen and (min-width: $screen-sm-min) and (min-device-pixel-ratio: 2),
    only screen and (min-width: $screen-sm-min) and (min-resolution: 192dpi),
    only screen and (min-width: $screen-sm-min) and (min-resolution: 2dppx) { 
      #hero {
        background-image: url("BG1-sm@2x.jpg");
        margin-top:-72px;
      }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min) { 
  #hero {
    background-image: url("BG1-md.jpg");
    margin-top:-72px;
  }
}
/* Medium devices (desktops, 992px and up) RETINA display */
@media 
  only screen and (min-width: $screen-md-min) and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min-width: $screen-md-min) and (min--moz-device-pixel-ratio: 2),
  only screen and (min-width: $screen-md-min) and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-width: $screen-md-min) and (min-device-pixel-ratio: 2),
  only screen and (min-width: $screen-md-min) and (min-resolution: 192dpi),
  only screen and (min-width: $screen-md-min) and (min-resolution: 2dppx) { 
    #hero {
      background-image: url("BG1-md@2x.jpg");
      margin-top:-72px;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min) { 
  #hero {
    background-image: url("BG1-lg.jpg");
    margin-top:-72px;
  }
}
/* Large devices (large desktops, 1200px and up) RETINA display */
@media 
  only screen and (min-width: $screen-lg-min) and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min-width: $screen-lg-min) and (min--moz-device-pixel-ratio: 2),
  only screen and (min-width: $screen-lg-min) and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-width: $screen-lg-min) and (min-device-pixel-ratio: 2),
  only screen and (min-width: $screen-lg-min) and (min-resolution: 192dpi),
  only screen and (min-width: $screen-lg-min) and (min-resolution: 2dppx) { 
    #hero {
      background-image: url("BG1-lg@2x.jpg");
      margin-top:-72px;
    }
}